/* Style sheet created by: Samuel Rogers, 6/19/21 */

/* Style for body specifies a background color */
body {
	background-color: #91827E;
}

/* Style for the container element */
#container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header element */
header {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0.2em;
	background-color: #308559;
	color: #91827E;
	padding: 1em;
}

/* Style for the main element  */
main {
	display: block;
	padding: 1em;
	background-color: #91827E;
	box-shadow: .5em .5em .5em #404040;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
}